@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
body{margin:0 auto; font-size:12px; font-family:宋体;}
h1, h2, h3, h4, h5, h6 {font-size:14px;}
address, cite, dfn, em, var {font-style: normal;}
.clear{ font-size:0;line-height:0;height:0;display:block;clear:both;}
th{font-style:normal;font-weight:normal;}
ul,li,ol{list-style:none;}
img{border:0;}
button,input,textarea{font:12px \5b8b\4f53,arial,sans-serif;}
a,a:link,a:visited,a:active{color:#333; text-decoration:none;}
a:hover{text-decoration:none;}
.clear{font-size:0; line-height:0; height:0; display:block; clear:both;}
.fl{float:left}
.fr{float:right}
.pl5{padding-left:5px}
.ml15{margin-left:15px}
.mt10{margin-top:10px}
.mt20{margin-top:20px}
.font01{color:#cc0000; padding-right:5px}
*:focus { outline: none!important;}
a,input,button{ outline:0; }
.minwith{ min-width:752px; }
.M_top{width:100%; height:60px; position:relative;  border-top:3px solid #fba222; background:#0391e4;}
.M_top h1{background:url(../images/logo.png) no-repeat; width:325px; height:47px; position:absolute; text-indent:-9999px; margin:8px 0 0 10px; }
.dropdown-menu {position:absolute; top:100%; left:0; z-index:1000; display:none; float:left; min-width:150px; padding:5px 0; margin:6px 0 0; list-style:none; background-color:#fff; border:1px solid #ccc; border:1px solid rgba(0,0,0,0.2);
*border-right-width:2px; *border-bottom-width:2px; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2); -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2); box-shadow:0 5px 10px rgba(0,0,0,0.2);
-webkit-background-clip:padding-box; -moz-background-clip:padding; background-clip:padding-box;}
.dropdown-menu > li > a{display:block; padding:2px 20px; clear:both; font-weight:normal; line-height:18px; color:#333; white-space:nowrap;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a{color:#fff; text-decoration:none; background-color:#0081c2; background-repeat: repeat-x;
    background-image: linear-gradient(to bottom,#08c,#0077b3);
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{color:#fff; text-decoration:none; background-color:#0081c2; background-repeat: repeat-x;
    outline: 0;
    background-image: linear-gradient(to bottom,#08c,#0077b3);
}
.open{*z-index:1000;}
.open > .dropdown-menu{display:block;}
.pull-right > .dropdown-menu {right:0; left:auto;}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret{border-top:0; border-bottom:4px solid #000;content: "";}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {top:auto; bottom:100%; margin-bottom:1px;}
.dropdown-submenu{position:relative;}
.dropdown-submenu > .dropdown-menu{top:0; left:100%; margin-top:-6px; margin-left:-1px; -webkit-border-radius:0 6px 6px 6px; -moz-border-radius:0 6px 6px 6px; border-radius: 0 6px 6px 6px; }
.dropdown-submenu:hover > .dropdown-menu{display:block; }
.dropup .dropdown-submenu > .dropdown-menu {top:auto; bottom:0; margin-top:0; margin-bottom: -2px; -webkit-border-radius:5px 5px 5px 0; -moz-border-radius:5px 5px 5px 0; border-radius: 5px 5px 5px 0;}
.dropdown-submenu > a:after{display:block; float:right; width:0; height:0;  margin-top:5px; margin-right:-10px; border-color:transparent; border-left-color:#ccc; border-style:solid; border-width:5px 0 5px 5px; content: " ";}
.dropdown-submenu:hover > a:after{border-left-color:#fff;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu.pull-left > .dropdown-menu{left:-100%;  margin-left:10px; -webkit-border-radius:6px 0 6px 6px; -moz-border-radius:6px 0 6px 6px; border-radius:6px 0 6px 6px;}
.dropdown .dropdown-menu .nav-header{padding-right:20px; padding-left:20px;}
.navbar .nav{position:relative; left:0; display:block; float:right; margin:0 10px 0 0; padding-top:24px;}
.navbar .nav.pull-right{float:right; margin-right:0;}
.navbar .nav > li{float:left; }
.navbar .nav > li > a{float:none; padding:10px 15px 10px 15px; color:#fff; text-decoration:none; /*text-shadow:0 1px 0 #fff;*/}
.navbar .nav .dropdown-toggle .caret{margin-top:8px;}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{color:#f77825; text-decoration:none; background-color:transparent;}
.navbar .nav > .active{ background:url(../images/usr_icon.png) no-repeat left; height:15px; margin-right:20px}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{color:#fff;text-decoration:none; /*-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125); -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125); box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);*/
padding:0px 18px 0px 22px; background:url(../images/usr_sanjiao.png) no-repeat right; cursor:pointer }
.navbar .nav > .active > a:hover{color:#f77825}
.navbar .nav > li > .dropdown-menu:after{position:absolute; top:-6px;  left:10px;  display:inline-block; border-right:6px solid transparent; border-bottom:6px solid #fff;  border-left:6px solid transparent; content: '';}
.navbar-fixed-bottom .nav > li > .dropdown-menu:before{top:auto; bottom:-7px; border-top:7px solid #ccc; border-bottom:0; border-top-color:rgba(0,0,0,0.2);}
.navbar-fixed-bottom .nav > li > .dropdown-menu:after{top:auto; bottom:-6px; border-top:6px solid #fff; border-bottom:0;}
/*在侧菜单*/
.cs-west p{background:#e1e1e1; height:28px; line-height:28px; vertical-align:middle; width:100%; display:block; border-bottom:1px solid #fff;}
.cs-west span{background:#e1e1e1; height:28px; line-height:28px; vertical-align:middle; width:100%; display:block; border-bottom:1px solid #fff; display:block}
.cs-west p:hover{background:#c5e9ff; }
.cs-west .actived{background:#c5e9ff; }
.cs-west ul{width:100%; background:#f4f4f4; cursor:pointer;min-width:185px; overflow:auto}
.cs-west a.cs-navi-tab{background:#f4f4f4;height:28px; line-height:28px; vertical-align:middle; width:100%; display:inline-block; border-bottom:1px solid #fff;word-break:keep-all; white-space:nowrap; word-break:break-all; }
.cs-west a.cs-navi-tab:hover,.cs-west a.selected{background:#ffe7c0}
.cs-west span .cs-navi-tab{background:#e1e1e1; height:28px; line-height:28px; vertical-align:middle; width:100%; display:block; border-bottom:1px solid #fff; position:relative}
.cs-west span .cs-navi-tab:hover{background:#77d3ff}
.cs-west span .hover,.cs-west span .actived{background:#77d3ff;}
.cs-west span a{display:block; padding-left:32px}
.cs-west span em{display:block; padding-left:0px}
.cs-west .jia{background:url(../images/plus.png) no-repeat left #e1e1e1;}
.cs-west .jia:hover{background:url(../images/plus.png) no-repeat left #c5e9ff;}
.cs-west .plus{background:url(../images/jian.png) no-repeat left #c5e9ff;}
.cs-west .plus:hover{background:url(../images/jian.png) no-repeat left #c5e9ff;}
.cs-west em{background:url(../images/treeleftnode.png) no-repeat left; margin-left:16px; padding-left:16px; display:block }
.cs-west ul li em{background:url(../images/icon_flbiao.png) no-repeat left; margin-left:18px; padding-left:10px}
/*当前位置*/
.loaction{background:#f3f3f3; width:100%; border-bottom:1px solid #d6d6d6; padding:10px 0px}
.loaction p{background:url(../images/loc-home.png) no-repeat left; margin:0px 10px 0px 10px; padding-left:20px;}

/*功能*/
.funciton,.funsearch{background:#f5f5f5; width:100%; border-bottom:1px solid #e5e5e5; overflow:hidden; padding:3px 0px; background-attachment:fixed;}
.funciton li{float:left; cursor:pointer; /*text-align:center; line-height:25px; vertical-align:middle; padding:0px 11px; *padding:0px 0px 0px 8px; border:1px solid #dfdfdf; margin:0px 5px; background:#ebecec; display:inline-block*/}
.commbtn{border:1px solid #dfdfdf; overflow:visible; padding:4px 14px 4px 30px;padding:6px 14px 4px 30px\0; height:23px; height:26px!important; float:left; cursor:pointer; text-align:center; margin:0 5px; background:#ebecec; /*color:#333*/}
.funciton .btn_new{background:url(../images/icon-new.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_edit{background:url(../images/icon_edit.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_find{background:url(../images/icon_find.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_del{background:url(../images/icon-del.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_qiyong{background:url(../images/icon_qiyong.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_jinyong{background:url(../images/icon_jinyong.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_quanxian{background:url(../images/icon_fquanxian.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_zixiang{background:url(../images/icon_set.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_fanhui{background:url(../images/icon_return.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_shuaxin{background:url(../images/icon_fresh.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_cpbg{background:url(../images/icon_pro.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_xmbg{background:url(../images/icon_item.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_member{background:url(../images/icon_user.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_queren{background:url(../images/icon_nota.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_tijiao{background:url(../images/icon_submit.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_delay{background:url(../images/icon-sj.jpg) no-repeat 8px center; background-color:#fff;}
.funciton .btn_jiejue{background:url(../images/icon_jiejue.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_zhipai{background:url(../images/icon_zhipai.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_wentijilu{background:url(../images/icon_wentijilu.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_print{background:url(../images/icon-dyj.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_Plan{background:url(../images/icon_tuizhujs.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_Equipment{background:url(../images/icon_home.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_down{background:url(../images/icon_xiazai.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_rep{background:url(../images/icon_rep.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_nianjian{background:url(../images/icon_nianjian.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_chuli2{background:url(../images/icon_chuli2.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_pub{background:url(../images/icon_pub.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_pay{background:url(../images/icon_pay.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_end{background:url(../images/icon_end.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_publish{background:url(../images/icon_publish.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_export{background:url(../images/icon_export.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_top{background:url(../images/icon_top.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_upload{background:url(../images/icon-upload.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_cancel_top{background:url(../images/icon_cancel_top.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_entry{background:url(../images/icon_entry.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_oral{background:url(../images/icon_oral.png) no-repeat 8px center; background-color:#fff;}
.funciton .btn_quit{background:url(../images/icon_quit.png) no-repeat 8px center; background-color:#fff;}
.btn_new:hover,.funciton .btn_end:hover,.funciton .btn_oral:hover,.funciton .btn_quit:hover,.funciton .btn_entry:hover,.funciton .btn_top:hover,btn_upload:hover,btn_cancel_top:hover,.funciton .btn_publish:hover,.funciton .btn_export:hover,.funciton .btn_pay:hover,.funciton .btn_pub:hover,.funciton .btn_chuli2:hover,.funciton .btn_nianjian:hover,.funciton .btn_rep:hover,.funciton .btn_edit:hover,.funciton .btn_del:hover,.funciton .btn_find:hover,.funciton .btn_qiyong:hover,.funciton .btn_jinyong:hover,.funciton .btn_quanxian:hover,.funciton .btn_zixiang:hover,.funciton .btn_fanhui:hover,.funciton .btn_shuaxin:hover,.funciton .btn_cpbg:hover,.funciton .btn_xmbg:hover,.funciton .btn_member:hover,.funciton .btn_queren:hover,.funciton .btn_tijiao:hover,.funciton .btn_jiejue:hover,.funciton .btn_zhipai:hover,.funciton .btn_wentijilu:hover,.funciton .btn_down:hover{background-color:#d6ecff;}

/*查询*/
.funsearch .search_list{line-height:35px; vertical-align:middle; float:left; padding:3px 0px}
.search_list span { display:inline-block; text-align:right; margin-left:10px; line-height:22px; vertical-align:middle;}
.search_list .search_txt{width:110px; height:20px; border:1px solid #ccc; line-height:20px; vertical-align:middle; padding-left:2px; display:inline-block}
.search_list .search_txt_long{width:133px; height:20px; border:1px solid #ccc; line-height:20px; vertical-align:middle; padding-left:2px; display:inline-block}
.search_list .fun-form-select{width:136px; height:20px; border:1px solid #ccc; line-height:20px; vertical-align:middle; padding-left:2px; display:inline-block }
.search_list .search-select-short{width:80px; height:20px; border:1px solid #ccc; line-height:20px; vertical-align:middle; padding-left:2px; display:inline-block }
.search_list .select_txt{border:1px solid #ccc; padding-left:2px; height:22px; line-height:22px; vertical-align:middle; display:inline-block; width:120px}
.funsearch .search_bt{width:70px; height:22px; background:#f89406; border:none; color:#fff; margin:8px 0px 0px 15px; float:left; font-weight:bold;  display:block; }
.funsearch .search_bt:hover{cursor:pointer; filter:alpha(opacity=70);-moz-opacity:0.7;-khtml-opacity: 0.7;opacity: 0.7;}

/*easyui列表页左侧菜单*/
.datagrid-wrap .datagrid-header .datagrid-htable{height:35px}
.datagrid-wrap .datagrid-htable tr td{text-align:center}
.datagrid-wrap .datagrid-htable .datagrid-header-row td{}
.datagrid-wrap .datagrid-body .datagrid-btable tr td{height:30px; line-height:30px; vertical-align:middle; text-align:center}

/*数据列表页*/
.table_list{width:100%; background:#ccc; margin-top:-1px;}
.table_list tr{cursor:default}
.table_list thead th{background:#f5f5f5; height:34px; line-height:34px; vertical-align:middle; font-weight:bold}
.table_list thead tr th,.table_list tbody tr td{padding:0px 3px; text-align:center; word-break:keep-all; white-space:nowrap; word-break:break-all}
.table_list tbody tr{height:28px; line-height:28px; vertical-align:middle}
.leftdis_tab{margin-left:-1px}

/*产品*/
.productloc{position:absolute; top:0px; padding:3px 0px; background:#f3f3f3; width:100%; border-bottom:1px solid #d6d6d6;}
.productloc p{padding-left:5px}

/*底部列表页*/
.wrap_bottom{width:100%}
.wrap_bottom .menu_header{background:url(../images/function_bg.jpg) repeat-x #eeeff1; width:100%; border-bottom:1px solid #afafaf; overflow:hidden; height:33px; line-height:33px; vertical-align:middle}
.wrap_bottom .menu_header .menu_name{font-size:14px; font-weight:bold; padding-left:10px}
.wrap_bottom .menu_header .menu_Point{background:url(../images/sub_layout_arrows.png) -19px -4px; width:9px; height:10px; margin:12px 20px 0px 0px}
.wrap_bottom .menu_header .menu_Point up{background:url(../images/sub_layout_arrows.png) -19px -19px; width:9px; height:10px; margin:12px 20px 0px 0px}

/*弹框table样式*/
.dialog-table{width:99%; margin:10px auto 10px auto; }
.dialog-table .tk_table{line-height:35px; border-top:1px solid #ccc; border-right:1px solid #ccc;}
.dialog-table .tk_table tr{background:#f5f6f6;}
.dialog-table .tk_table .white-tr{background:#fff;
}
.dialog-table .tk_table tr td{padding:0px 5px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; word-break:keep-all; white-space:nowrap; word-break:break-all}
.dialog-table .tk_bt01{background:url(../images/tk_search.jpg) no-repeat; width:18px; height:24px; border:none; line-height:18px; vertical-align:middle; float:left; margin-top:-2px; *margin-top:0px}
.searchtk_bt  {background:url(../images/tk_search.jpg) no-repeat; width:18px; height:22px; border:none; line-height:18px; vertical-align:middle; float:left; margin-top:6px; *margin-top:0px}
.dialog-table .tk_bt02{background:url(../images/tk_xiala.jpg) no-repeat; width:18px; height:24px; border:none; line-height:18px; vertical-align:middle; float:left }
.dialog-table .tk_bt03{background:url(../images/tk_del.jpg) no-repeat; width:18px; height:24px; border:none; line-height:18px; vertical-align:middle; float:left; margin-top:-2px; *margin-top:0px}
.dialog-table .photo{width:135px; height:155px}
.dialog-table .table_list{border-top:1px solid #ccc; border-left:1px solid #ccc}
.dialog-table .table_list a{color:#0068c9; padding:0px 5px}
.dialog-list h1{background:url(../images/function_bg.jpg) repeat-x; width:100%; height:33px; line-height:33px; vertical-align:middle; font-size:12px;}
.dialog-list h1 a{background:url(../images/icon_register.png) no-repeat left; display:block; padding-left:20px}
.form-text{line-h
.form-text{line-height:22px; border:1px solid #ccc; margin:0px; float:left;
}
at:left;
}
.form-smalltext{width:155px; height:22px;line-height:22px; border:1px solid #ccc; margin:0px; float:left;}
.form-text-notfull{width:95%; height:22px;line-height:22px; border:1px solid #ccc; margin:0px; float:left;}
.form-text-false{width:100%; height:22px;line-height:22px; border:1px solid #ccc; margin:0px; float:left; background:#e7f6ff}
.flase-bg{background:#e7f6ff}
.form-text-lengther{height:22px; line-height:22px; border:1px solid #ccc; padding:0px 3px; margin:0px;}
.form-text-lengther-false{width:300px;height:22px; line-height:22px; border:1px solid #ccc; padding:0px 3px; margin:0px;background:#e7f6ff}
.form-text-short{width:30px; height:22px; line-height:22px; border:1px solid #ccc; padding:0px 3px; margin:0px;}
.form-text-length{width:350px; height:22px; line-height:22px; border:1px solid #ccc; padding:0px 3px; margin:0px;}
.form-select{height:22px; line-height:22px; border:1px solid #ccc; padding:1px; margin:0px; width:100%}
.form-select-short{height:22px; line-height:22px; border:1px solid #ccc; padding:1px; margin:0px; width:70px}
.form-select-length{width:357px; height:22px; line-height:22px; border:1px solid #ccc; padding:0px 3px; margin:0px;}
.form-textarea{width:100%; height:80px; line-height:20px; border:1px solid #ccc; padding:0px; margin:5px 0px; white-space: normal;word-break:break-all;word-wrap:break-word  }
.form-textarea-notfull{width:95%; height:80px; line-height:20px; border:1px solid #ccc; padding:0px; margin:5px 0px;}
.conwhite{background:#fff}
.dialog-table .tk_table .conwhite-wrap{background:#fff; white-space: normal; word-break: break-all; word-wrap: break-word;}
.tk_notable{border:none}
.dialog-table .tk_table .cell_table  table tr td{border:0; padding:0}

/*分页*/
.page{background:#efefef;border:1px solid #ccc; border-left:0; border-right:0; width:100%; height:30px; line-height:30px; vertical-align:middle; /*position:absolute; bottom:0;*/z-index:999; /*_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); _left:expression(documentElement.scrollLeft+documentElement.clientWidth-this.offsetWidth-0);*/ overflow:visible;}
.page_noneborder{border:none}
.page .page_info{padding-left:10px;}
.page .pagenum{padding-right:10px;}
.pagenum .page_select{/*border:1px solid #ccc;*/ height:22px; line-height:22px; vertical-align:middle}
.l_btn01,.l_btn02,.r_btn01,.r_btn02{background:url(../images/pagination_icons.png) no-repeat; border:none; }
.pagenum .l_btn, .pagenum .r_btn{float:left; height:18px; line-height:18px; vertical-align:middle; margin-top:7px}
.l_btn01{width:8px; height:10px; background-position:-4px -3px; margin:0px 10px; float:left; margin-top:4px}
.l_btn02{width:6px; height:10px; background-position:-21px -3px; margin:0px 10px 0 0; float:left; margin-top:4px}
.r_btn01{width:6px; height:10px; background-position:-37px -3px; margin:0px 10px; float:left; margin-top:4px}
.r_btn02{width:8px; height:10px; background-position:-52px -3px; margin-right:10px; float:left; margin-top:4px}
.pagenum .disabled{filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.page .page_txt{border:1px solid #ccc; width:40px; height:18px; text-align:center; margin:0px 6px; line-height:18px; vertical-align:middle}
.pagebox{margin:0 auto; width:98%}
.pagebox a{color: #3a3a3a; font-size:14px; font-weight:bold}
.pagebox .cpb{color:#1396d8; font-size:14px; font-weight:bold}
.pageboxs{ margin: 0px 5px; text-align:center;}
.page_num{color:#1396d8; font-weight:bold; font-size:13px;padding-top:2px; float:left }

/*下拉框样式*/
.select select{display: none;}
.select_box{ font-family:"微软雅黑"; font-size:12px; color:#4b4d4c; width: 190px; height:28px; line-height: 28px; background:#fff}
.select_showbox{border: 1px solid #d3d3d3;height: 26px; padding-left: 6px; background: url(../images/iconSelect.jpg) no-repeat 165px 3px; position:relative;}
.select_option{border: 1px solid #d3d3d3; background:#fff; border-top: none; display: none; position:absolute; width:160px;}
.select_option li{padding-left: 5px;}
.select_option li.selected{background-color: #F3F3F3;color: #999;}
.select_option li.hover{background: #4fc1e9; color: #fff;}

/*反馈管理*/
.outercon{border:1px solid #ddd; width:98%; margin:10px auto; }
.titlebar{border-bottom:1px solid #e5e5e5; padding:13px 0px; background:#f8fafe; height:20px; font-size:15px; font-weight:bold; font-family:微软雅黑; color:#333; float:left; width:100%}
.titlebar a{padding-left:20px}
.table-form{width:98%; margin:10px auto}  
.table-form tr{height:40px; line-height:40px; vertical-align:middle}
.table-form th{width:80px; text-align:right; padding-right:15px;}
.select-form{width:200px}
.select-sform{width:150px}
.file-box{ position:relative;width:340px}
.txt{ height:22px; border:1px solid #cdcdcd; width:180px; line-height:22px; vertical-align:middle}
.btn{ background-color:#FFF; border:1px solid #CDCDCD;height:25px; width:70px; vertical-align:middle}
.file{ position:absolute; top:0; right:80px; height:22px; filter:alpha(opacity:0);opacity: 0;width:260px }
input[type="checkbox"]{line-height:25px; vertical-align:middle;}
.checklabel label{line-height:25px; vertical-align:middle; padding-left:10px}
.graybt{background:#e5e5e5; height:18px; line-height:18px; vertical-align:middle; border:1px solid #ccc; width:40px; display:inline-table; text-align:center }
.cjjj{margin-top:-7px; height:20px; color:#0391e4; border:1px solid #ccc; background:#e5e5e5; padding:0px 5px}
.totalbt{width:200px; margin:0 auto; padding:20px 0px;}
.btwidth{padding:8px 10px; background:#f0f0f0; border:1px solid #cccccc; font-weight:bold}
.bluebt{background:#007cc5; margin-right:10px; color:#fff}
.fileinfor{ width:95%; height:150px; border: 1px solid #e5e5e5; margin:0 auto; margin:15px auto; position:relative}
.fileinfor .filetop{ color:#333; float:left; display:block; background:#fff; position:absolute; top:-8px; padding:0px 10px; margin:0 10px; font-weight:bold}
.fram{ width:98%; height:24px; border:1px solid #ccc; float:left;}


/*修改密码*/
.password{width:350px; margin:30px auto}
.pwd-form{width:100%}
.pwd-form tr{height:45px; line-height:45px; vertical-align:middle}
.pwd-form tr th{width:80px; text-align:right; padding-right:15px}
.pwdtxt{border:1px solid #cccccc; width:200px; height:24px; line-height:24px; vertical-align:middle; padding-left:5px}

/*首页样式*/
.deskbox{width:100%; min-width:800px; margin:0 auto}
.squrebox{width:50%;}
.squreboxcn{width:97.8%; height:330px; border:1px solid #dadee2; margin:10px 8px 0px 6px;}
.hometitle{width:100%; background:#f5f8fb; height:45px; line-height:45px; vertical-align:middle; border-bottom:1px solid #dadee2}
.noticename{background:url(../images/icon_not.png) no-repeat left; padding-left:45px; margin-left:15px}
.hometitle .more{font-weight:normal; font-size:12px; color:#aaaaaa; padding-right:10px}
.squreul{width:98%; margin:0 auto; padding-top:10px; }
.squreul li{float:left; border-bottom:1px dashed #ccc; height:32px; line-height:32px; vertical-align:middle; width:100%}
.squreul li .noticecn{ width:72%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; background:url(../images/judian.png) no-repeat left; margin-left:5px; padding-left:8px }
.squreul li .noticecn:hover{color:#0391e4}
.squreul .time{float:right; padding-right:5px; color:#333}
.daibanname{background:url(../images/icon_list.png) no-repeat left; padding-left:45px; margin-left:15px}
.squreul li .noticecnl{ width:36%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; }
.squreul li .noticecnm{ width:36%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; background:none }


/*上传样式*/
.file_uploading{ width:100%;  margin:10px auto;}
.file_header{background:#f2f6ff; border:1px solid #d2d2d2; border-left:0; border-right:0px; height:38px; line-height:38px; vertical-align:middle; /*padding-left:30px*/}
.file_header span{color:#0391e4; padding-left:10px}
.folder{/*width:100%;*/ margin:0 auto; position:relative}
.folder ul li{width:140px; padding:0 25px; float:left;}
.folder .folderimg{ margin:20px 40px; background:url(../Images/spritenew-f.png) no-repeat; width:59px;height:51px; position:relative }
.folder .folderimg em{display:block; background:url(../Images/infornum.png) no-repeat; width:23px; height:23px; color:#fff; font-weight:bold; text-align:center; line-height:23px; vertical-align:middle; right:-2px; position:absolute}
.folder .name{font-size:14px; text-align:center;  float:left; width:140px; }
.folder .name:hover{color:#1076c1;}

/*上传*/
a.blue{color:#0391e4}
.uploadmain{width:100%; margin-top:10px}
.upload_top{background:#f7f7f7; /*border-bottom:1px solid #d2d2d2; height:49px;*/}
.up{ background:url(../images/up.png) no-repeat; width:73px; height:27px; margin-left:5px; margin-top:6px; border:none}
a.ft_j_upload{background:url(../Images/uploadbt.jpg) no-repeat; width:70px; height:28px; display:inline-block; color:#fff; line-height:28px; vertical-align:middle; padding-left:40px; font-size:14px; font-weight:bold; letter-spacing:8px; margin:10px 0px 0px 30px}
a.ft_j_upload:hover{filter:alpha(opacity=80); /*IE滤镜，透明度50%*/-moz-opacity:0.8; /*Firefox私有，透明度50%*/opacity:0.8;}
.upload_location{background:#f2f6ff; border:1px solid #d2d2d2; border-left:0; border-right:0px; height:38px; line-height:38px; vertical-align:middle; padding-left:15px;}
.upload_con{width:97%; margin:20px auto}
.upload_con ul li{width:140px; float:left; padding:10px 0px }
/*.upload_icon{background:url(../Images/property_icon_101.png) no-repeat 0 0; width:50px; height:60px; cursor:pointer; margin:0px 45px}*/
.upload_icon{background:url(../Images/property_icon_101.png) no-repeat 0 0; width:50px; height:60px;  margin:0px 45px}
.zip{background-position:-175px -18px}
.xls{background-position:-328px -18px}
.doc{background-position:-481px -18px}
.ppt{background-position:-634px -18px}
.pdf{background-position:-940px -18px}
.txt{background-position:-1093px -18px}
.exe{background-position:-1398px -18px}
.rar{background-position:-2163px -19px}
.img{background-position:-21px -18px}
/*.upload_con ul li .name{width:140px; text-align:center; float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; cursor:pointer; font-size:13px}*/
.upload_con ul li .name{width:140px; text-align:center; float:left; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  font-size:13px; cursor:default;}
/*.upload_con ul li .name:hover{color:#1076c1}*/
.upload_fun{width:50px; margin:15px 45px; float:left}
.btn_icon{background:url(../Images/btn_icon.png) no-repeat 0 0; border:none; cursor:pointer}
.uploadimg{width:18px;height:15px;background-position:0 0}
.uploadimg:hover{background-position:-23px 0}
.delimg{width:13px;height:17px;background-position:-3px -20px;}
.delimg:hover{background-position:-26px -20px}




/*按钮*/
.select_button{background:#e9e9e9; border:1px solid #cccccc; padding:0px 10px; height:22px; line-height:22px; vertical-align:middle; margin:5px 0px; color: #333; cursor:pointer; margin-left:10px;}
.blueselect_button{background: #2cabf5; border: 1px solid #1076c1; padding: 0px 10px; height: 22px; line-height: 22px; vertical-align: middle; margin: 10px 0px; color: #fff; cursor: pointer; margin-left:10px;}
.funselect_button { background: #e9e9e9; border: 1px solid #cccccc; padding: 0px 10px; height: 20px; line-height: 20px; vertical-align: middle; color: #333; cursor: pointer; margin-left: 5px;}
.graybtn{margin: 5px 0px; border: solid 2px #dcdcdc; padding: 0px 5px 0px 30px; color: #333; background: url(../Images/reset.gif) no-repeat 8px center; background-color: #f9f9f9; overflow: visible; line-height: 25px; font-weight: bold; cursor: pointer;}
.shc_buttons{overflow:visible; padding:4px 14px 4px 30px;padding:6px 14px 4px 30px\0; height:20px; height:23px!important;  cursor:pointer; text-align:center; margin:4px 5px; background:#4cbdff; color:#fff; border:0; font-weight:bold;}
.upbt{background:url(../images/up.png) no-repeat 8px center; background-color:#4cbdff;}
/*.downbtn{display:block; width:60px; background:url(../Images/icon_xiazai.png) no-repeat 8px center;}
.downbtn:hover{border:solid 2px #86c6f7 }*/

/*强制换行*/
.read_break{white-space: normal;word-break:break-all;word-wrap:break-word}
.dialog-table .tk_table tr td.read_break{white-space: normal;word-break:break-all;word-wrap:break-word}


/*文本域*/
.dialog-table .tk_table tr td.txtcontent{padding-left:0px}
.dialog-table .tk_table tr td.txtcontent span.cke_skin_kama{border:0;}
.dialog-table .tk_table tr td.txtcontent .cke_editor tr td{border:1px solid #ccc}

/*邮件*/
.emailbtn{border:1px solid #dfdfdf; overflow:visible; padding:4px 14px 4px 30px;padding:6px 14px 4px 30px\0; height:23px; height:26px!important; float:right; cursor:pointer; text-align:center; margin:0 5px; background:#ebecec; color:#333; background:#fff}
.choice_del{background: url(../images/check.png) no-repeat 8px center #fff; float:right; margin-right:10px;}
.button_del{background: url(../images/icon-del.png) no-repeat 8px center #fff; float:right; margin-right:10px;}

/*绩效管理*/
.performance{background:#666666;width:1000px}
    .performance tr td{background:#fff; height:30px; line-height:30px;vertical-align:middle;text-align:center}
	.performance tr.purple td,.performance tr td.purple{background:#e7e7ff; font-weight:bold}
	.performance tr td.red{color:#cc0000}
	.biaozhun{float:left; text-align:left; padding-left:10px; /*width:300px;*/word-break:break-all; word-wrap:break-word}
    .performance tr td.textalgin{text-align:left; padding-left:10px; /*width:555px;*/word-break:break-all; word-wrap:break-word}
	.performance tr.yellow td,.performance tr td.yellow{background:#ffe080}
	.performance tr td.blue{background:#dcecff}
	.performance tr td.qyellow{background:#ffff89}
	.performance tr td.green{background:#a8df6d}
	.performance tr td.alginr{text-align:right; padding-right:10px}
	.performance tr td.break{word-break:break-all; word-wrap:break-word; /*width:210px*/}
    .perwidth50{width:50px; margin-left:5px}
    .chart125{width:115px; margin-left:5px}
    .chart{background:#fff7eb;  padding:10px 5px 5px 5px; font-weight:bold; color:#333333}
.noScroll {
    overflow:hidden !important;
}

/*专区下载*/

.wab{ width:99%; height:230px; border:1px solid #dadee2;  margin-top:20px; float:left; margin-left:5px;}
.top{ width:100%; height:40px; background:#f5f8fb; border-bottom:1px solid #dadee2;}
.top img{ width:32px; height:32px; margin-left:20px; float:left; margin-top:5px; margin-right:6px;}
.top  span{ font-size:16px; color:#333; float:left; line-height:40px;}
.top p{ font-size:14px; float:right; color:#aaa; line-height:40px; margin-right:10px;}

.fina{ width:23.5%; height:152px; border:1px solid #dadee2; margin:15px 0.6%;  float:left;}
.fina .mc{ width:20%; height:152px; float:left; background:#22beef;}
.fina .mc img{ width:54px; height:54px; margin:30px 20% 20px 20%;}
.fina .mc p{ font-size:16px; color:#fff; text-align:center;}
.fina .lie{ width:80%; height:152px;  float:left;}
.fina span{ width:100%; font-size:14px; color:#333; float:left; margin:10px;}

.fina .comp{ width:20%; height:152px; float:left; background:#fa8564;}
.fina .comp img{ width:54px; height:54px; margin:30px 20% 20px 20%;}
.fina .comp p{ font-size:16px; color:#fff; text-align:center;}

.fina .dep{ width:20%; height:152px; float:left; background:#aec785;}
.fina .dep img{ width:54px; height:54px; margin:30px 20% 20px 20%;}
.fina .dep p{ font-size:16px; color:#fff; text-align:center;}

.fina .ple{ width:20%; height:152px; float:left; background:#e9b527;}
.fina .ple img{ width:54px; height:54px; margin:30px 20% 20px 20%;}
.fina .ple p{ font-size:16px; color:#fff; text-align:center;}
/*人员信息管理*/
.tment {line-height:35px;border-top:1px solid #ccc;border-right:1px solid #ccc;font-family:"宋体";font-size:12px; margin-top:5px;}
.tment tr {background:#f5f6f6;}
.tment .white-tr {background:#fff;}
.tment tr td,.tment tr th {padding:0px 5px;border-left:1px solid #ccc;border-bottom:1px solid #ccc;word-break:keep-all;white-space:nowrap;word-break:break-all;}
.step {width:60px;height:26px;border:1px solid #71c2ed;background:#7dcaf3;text-align:center;float:left;cursor:pointer;color:#fff;margin-top:10px;margin-left:10px;float:right;}
.step:hover {width:60px;height:26px;border:1px solid #71c2ed;background:#3da3df;}
#Wizard1_SideBarContainer_SideBarList td {border-bottom:1px solid #ccc;background:#fcfcfc;line-height:40px;text-align:center;font-family:"宋体";font-size:12px;}
#Wizard1_SideBarContainer_SideBarList td:hover {background:#ffe7c0;}
#Wizard1_UpdatePanel2,#Wizard1_UpdatePanel1 {line-height:26px;font-family:"宋体";font-size:12px;}
.wrap-layout {
    overflow: auto;
}

